---
import Layout from "../layouts/Layout.astro";
import OurTeam from "../components/OurTeam.astro";
import Courses from "../components/Trainings.astro";
import Contactus from "../components/ContactUs.astro";
import HeroElearning1 from "../components/HeroElearning1.astro";
import HeroElearning2 from "../components/HeroElearning2.astro";
import AboutUs from "../components/AboutUs.astro";
import OurServices from "../components/OurServices.astro";
---

<Layout title="FIO - Educom">
  <main class="space-y-2">
    <HeroElearning1 />
    <HeroElearning2 />
    <Courses />
    <AboutUs />
    <OurTeam />
    <OurServices />
    <Contactus />
  </main>
</Layout>
