<section class="text-gray-600 body-font" id="sobre-nosotros">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1
        class="sm:text-2xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
        SOBRE NOSOTROS
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        El <strong>Área de Educación y Comunicación con Tecnologías (EDU.COM) (Res CAFI
        N° 387/23)</strong> tiene la misión de desarrollar acciones y tareas tendientes a
        enmarcar y nuclear las actividades de la Facultad de Ingeniería (FIO)
        que impulsen la integración de las tecnologías digitales en los espacios
        de educación y comunicación. Para ello EDU.COM atendiendo e inspirado
        por las nuevas posibilidades que abren las tecnologías educativas y de
        comunicación, se propone alentar y propiciar el desarrollo, la formación
        en y la integración de dichos puntos que aporten en mejorar la calidad
        educativa y de las comunicaciones, en virtud de las necesidades y
        desafíos de la actualidad.
      </p>
    </div>
  </div>
</section>
