---
import CourseCard from "./CourseCard.astro";
interface Course {
  category: string;
  name: string;
  month: string;
  date: string;
  resume: string;
  link?: string;
}

const courses: Course[] = [
  {
    category: 'EDUCOM',
    name: 'Curso 1',
    month: 'Jul',
    date: '01',
    resume: 'Insertar resumen del curso aquí',
    link: '#'
  },
  {
    category: 'EDUCOM',
    name: 'Curso 2',
    month: 'Jul',
    date: '01',
    resume: 'Insertar resumen del curso aquí',
    link: '#'
  },
  {
    category: 'EDUCOM',
    name: 'Curso 3',
    month: 'Jul',
    date: '01',
    resume: 'Insertar resumen del curso aquí',
    link: '#'
  },
]
---
<section class="text-gray-600 body-font" id="capacitaciones">
  <div class="flex flex-col text-center w-full">
    <h1
      class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest"
    >
      CAPACITACIONES
    </h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
      En nuestro compromiso con la educación, ofrecemos capacitaciones que
      nutren mentes, inspiran descubrimientos y empoderan a cada individuo para
      alcanzar su máximo potencial, construyendo así un futuro brillante y lleno
      de oportunidades.
    </p>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -my-8">
      {
        courses.map((course, index) => (
            <CourseCard course={course} key={`course_${index}`} />
        ))
      }
    </div>
  </div>
</section>
