---
import MemberCard from "./MemberCard.astro";
import members_api, {type Member} from "../services/members_api";

const members: Member[] = await members_api.list();
---


<section class="text-gray-600 body-font" id="nuestro-equipo">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest"
      >
        NUESTRO EQUIPO
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        El programa está conformado por un equipo interdisciplinario que trabaja de manera colaborativa buscando alentar, atender y brindar las mejores respuestas en cuanto a propuestas educativas y desarrollos tecnológicos que desde la Facultad de Ingeniería así lo requieran.
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      {
          members.map((member: Member, index: number) => (
              <MemberCard member={member} key={`member_${index}`} />
          ))
      }
    </div>
  </div>
</section>